body {
  margin: 0;
  background-color: #f2e6fa !important;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(65, 18, 106);
  color: #fff;
  .header-title {
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.nav-lists ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-lists ul li {
  margin-right: 20px;
  &:hover {
    text-decoration: underline;
  }
}

.nav-lists ul li:last-child {
  margin-right: 0;
}

.nav-lists ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  z-index: 10px;
}

.hamburger-bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

main {
  .main-container {
    p {
      font-size: 20px;
    }
    .badui-link {
      font-size: 20px;
      a {
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
      }
      .material-icons {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .bad-ui-img {
      padding-bottom: 30px;
      width: 45%;
    }
  }
}

footer {
  padding: 20px;
  .copyright {
    text-align: center;
  }
}

// improved UI page
main {
  .main-container {
    .register-form {
      margin: 0 auto;
      max-width: 600px;
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0px 0px 10px #888888;
      margin-top: 50px;
      .form-header {
        text-align: center;
        font-size: 36px;
        color: #4b0082;
        margin-bottom: 40px;
      }
      form {
        label {
          font-size: 20px;
          color: #4b0082;
          font-weight: bold;
          display: block;
          margin-bottom: 8px;
        }
        input[type="text"],
        input[type="number"],
        select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border-radius: 4px;
          border: 2px solid #4b0082;
          font-size: 18px;
          color: #4b0082;
        }
        .meeting-day-wrapper {
          display: flex;
          flex-wrap: wrap;

          .form-check {
            width: calc(100% / 3);
          }
        }

        .optional-form-elements {
          display: none;
          .catalog-link {
            padding-top: 20px;
          }
        }

        .search-btn-wrap {
          display: flex;
          justify-content: space-between;
          .advanced-search {
            display: flex;
            align-items: flex-end;
            font-size: 12px;
            opacity: 0.7;
            text-decoration: underline;
            &:hover {
              opacity: 1;
              cursor: pointer;
            }
          }
          #searchBtn {
            background-color: #4b0082;
            color: white;
            font-size: 24px;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 20px;
          }
          #searchBtn:hover {
            background-color: #6a5acd;
          }
        }
      }
    }
  }
}

// reload btn
.reload-btn {
  button {
    background-color: #4b0082;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    margin-top: 20px;
  }
}

.time-container {
  .clock-wrapper {
    display: flex;
    align-items: center;
    p {
      font-size: 20px;
      color: #4b0082;
      font-weight: 600;
      width: 50%;
    }
  }
}

@media (max-width: 1394px) {
  .nav-lists ul {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu.active .hamburger-bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .hamburger-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger-menu.active .hamburger-bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .nav-lists ul.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: rgb(65, 18, 106);
    padding: 20px;
    z-index: 10;
  }

  .nav-lists ul.active li {
    margin: 10px 0;
  }
}

@media (max-width: 493px) {
  header {
    .header-title {
      font-size: 24px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
